<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %> <!-- assigns each statuses to status on loop -->
	<div class = "well">
		<%= status.content %>
		<hr /> <!-- line break -->
		<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago 
	</div>
	<% end %>
<% end %> <!-- close if statement -->
